@media (max-width: 430px) {
   body{
    background-color: aqua;
   }
   
    main{
        display: flex;
        flex-direction: column;
        background-color: aqua;
    }
    input{
        border-radius: 5px;
    }
}

@media (min-width: 431px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}