@media (max-width: 430px) {
    body {
        background-color: rgba(75, 117, 151, 1);
        padding: 0;
        margin: 0;
    }
    header a {
        display: flex;
        text-decoration: none;
        justify-content: flex-start;
        background-color: rgb(0, 180, 180);
        color: black;
        border-radius: 5px;
        padding: 10px;
        margin-left: 0.8rem;
        margin-top: 15px;
        max-width: 10rem;
    }

    header h1{
        margin-left: 0.3rem;
    }

    main {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        margin-left: 0.3rem;
    }

    select {
        border-radius: 5px;
    }

    input {
        border-radius: 5px;
    }

    button {
        border-radius: 5px;
    }

    footer {
        text-align: center;
        background-color: rgb(43, 97, 141);
        padding: 0.8rem;
    }

    footer a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

}

@media (min-width: 431px) and (max-width: 1023px) {

   body {
        background-color: rgba(75, 117, 151, 1);
        padding: 0;
        margin: 0;
    }
    header a {
        display: flex;
        text-decoration: none;
        justify-content: flex-start;
        background-color: rgb(0, 180, 180);
        color: black;
        border-radius: 5px;
        padding: 10px;
        margin-left: 0.8rem;
        margin-top: 15px;
        max-width: 10rem;
    }

    header h1{
        text-align: center;
        margin-left: 0.3rem;
    }

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0.5rem;
        margin-left: 0.3rem;
    }

    select {
        border-radius: 5px;
    }

    input {
        border-radius: 5px;
    }

    button {
        border-radius: 5px;
    }

    footer {
        text-align: center;
        background-color: rgb(43, 97, 141);
        padding: 0.8rem;
    }

    footer a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

}

@media (min-width: 1024px) {}