@media (max-width: 430px) {
    body {
        display: flex;
        padding: 0;
        margin: 0;
        background-color: rgba(75, 117, 151, 1);
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    #logo h1 {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 0.8rem;

    }

    #logo h3 {
        display: flex;
        justify-content: center;
    }

    #navegation {
        display: flex;
        flex-direction: column;
        background-image: url(./img/ChatGPT\ Image\ 1\ de\ dez.\ de\ 2025\,\ 22_36_10.png);
        align-items: center;
        background-position: center top;
        background-size: 100%;
        background-repeat: no-repeat;
    }
   
    .firstA {
        background-color: rgb(0, 180, 180);
        margin-top: 2vh;
        margin-bottom: 5vh;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 6px;
    }

    footer{
          background-color: rgb(43, 97, 141);
    }
}

@media (min-width: 431px) and (max-width: 1023px) {}

@media (min-width: 1024px) {}